body {
  font-family: arial, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.main-border {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
}
.display-city {
  font-weight: 700;
  text-align: right;
}
.day-time {
  text-align: right;
  margin-bottom: 0;
}
.weather-description {
  text-align: right;
  padding-top: 0;
  margin-top: 0;
}
.group::after {
  content: "";
  display: table;
  clear: both;
}
.display-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather {
  font-weight: 700;
  justify-content: space-evenly;
  margin-left: 2%;
}
